        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
        
        body {
            font-size: 62.5%;
        }
        
        a {
            text-decoration: none;
        }
        
        a:hover {
            opacity: 0.5;
        }
        
        ul,
        li {
            list-style: none;
        }
        
        .wrapper {
            font-family: 'Quicksand', sans-serif;
            width: 100%;
        }
        
        p {
            font-size: 1.5rem;
        }
        
        img {
            display: block;
        }
        
        .carousel-fade .carousel-inner .item {
            opacity: 0;
            transition-property: opacity;
        }
        
        .carousel-fade .carousel-inner .active {
            opacity: 1;
        }
        
        .carousel-fade .carousel-inner .active.left,
        .carousel-fade .carousel-inner .active.right {
            left: 0;
            opacity: 0;
            z-index: 1;
        }
        
        .carousel-fade .carousel-inner .next.left,
        .carousel-fade .carousel-inner .prev.right {
            opacity: 1;
        }
        
        .carousel-fade .carousel-control {
            z-index: 2;
        }
        
        @media all and (transform-3d),
        (-webkit-transform-3d) {
            .carousel-fade .carousel-inner>.item.next,
            .carousel-fade .carousel-inner>.item.active.right {
                opacity: 0;
                -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
            }
            .carousel-fade .carousel-inner>.item.prev,
            .carousel-fade .carousel-inner>.item.active.left {
                opacity: 0;
                -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
            }
            .carousel-fade .carousel-inner>.item.next.left,
            .carousel-fade .carousel-inner>.item.prev.right,
            .carousel-fade .carousel-inner>.item.active {
                opacity: 1;
                -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
            }
        }
        
        .carousel-caption {
            text-shadow: 0 1px 4px rgba(0, 0, 0, .9);
        }
        
        html,
        body,
        .carousel,
        .carousel-inner,
        .carousel-inner .item {
            height: 100%;
        }
        
        .item:nth-child(1) {
            background-image: url(../img/slide-01.jpg);
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
        }
        
        .item:nth-child(2) {
            background-image: url(../img/slide-02.jpg);
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
        }
        
        .item:nth-child(3) {
            background-image: url(../img/slide-03.jpg);
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
        }
        /* ==========start header======== */
        
        .header {
            padding: 0 86px;
            top: 0;
            z-index: 999;
            width: 100%;
            position: fixed;
        }
        
        @media (max-width:991px) {
            .header {
                width: max-content;
            }
        }
        
        .header__back {
            background-color: rgba(0, 0, 0, .5);
            display: flex;
            justify-content: space-between;
            padding: 14px 0;
            position: relative;
        }
        
        .header a {
            color: #fff;
            font-size: 14px;
        }
        
        .header .header__logo {
            padding: 1rem 3rem;
        }
        
        .header .header__logo img {
            width: 170px;
            height: auto;
        }
        
        .header .header__list ul {
            display: flex;
            padding: 2rem 0;
        }
        
        .header .header__list ul li {
            padding: 1rem;
        }
        
        .header .header__list ul li a:hover {
            padding: 7px;
        }
        
        #red:hover {
            background-color: red;
        }
        
        .header .header__red {
            position: absolute;
            top: 0;
            left: 70%;
        }
        
        .header__red {
            background-color: red;
            padding: 12px;
        }
        
        .humbeger {
            z-index: 999;
            position: absolute;
            top: 1rem;
            left: 1rem;
            cursor: pointer;
        }
        
        .humbeger .line {
            background-color: white;
            width: 30px;
            height: 4px;
            margin: 3px;
        }
        
        .header__small {
            text-align: center;
            top: 0;
            left: 0;
            position: absolute;
            width: 100%;
            height: 10rem;
            background-color: black;
        }
        
        .header__small img {
            width: 30%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        
        @media(min-width: 992px) {
            .header__small {
                display: none;
            }
            .humbeger {
                display: none;
            }
        }
        
        @media(max-width: 768px) {
            .booking__form {
                background-color: white;
                padding: 1rem 2rem;
            }
            .booking__option input {
                width: 16rem;
                height: 2.5rem;
            }
            textarea {
                width: 16rem;
                height: 4rem;
            }
            .fish {
                display: flex;
                justify-content: center;
                flex-direction: column;
                padding: 0px;
            }
            .hello .fish .fish__1 {
                padding: 0;
            }
            .hello .fish p {
                font-size: 16px;
                color: #848484;
                padding: 0;
            }
            .hello .fish h1 {
                padding: 1rem 0 0 0;
            }
            .hello .fish h3 {
                color: red;
                padding: 1rem 0 0 0;
            }
            #text {
                color: rgba(132, 132, 132, 0.6);
                text-align: center;
                padding: 0;
            }
        }
        
        @media(max-width: 991px) {
            .header__small {
                display: block;
            }
            .header__red {
                display: none;
            }
            .header__back {
                height: 100vh;
                background-color: black;
                transform: translateX(-100%);
                overflow: hidden;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                transition: 0.3s;
            }
            ul {
                flex-direction: column;
            }
            li {
                padding: 10px;
            }
            .showMenu {
                z-index: 999;
                background-color: darkgoldenrod;
                transform: translateX(0%);
            }
            .header {
                padding: 0;
            }
            .header ul li a {
                padding: 0;
            }
        }
        /* ==== */
        
        .father {
            position: relative;
        }
        /*sub-menu*/
        
        .chil {
            display: none;
            position: absolute;
            background-color: white;
            padding: 2rem;
            z-index: 1;
            list-style: none;
        }
        
        .chil a {
            white-space: nowrap;
            color: black;
            padding: 2rem 0;
        }
        
        .father:hover .chil {
            display: block;
        }
        /* ======start hello======== */
        
        .hello {
            width: 100%;
        }
        
        .hello__chil {
            width: 100%;
        }
        
        .hello__text {
            display: flex;
            flex-wrap: wrap;
        }
        
        .hello-img {
            overflow: hidden;
            width: 111%;
        }
        
        @media (max-width:991px) {
            .hello-img img {
                width: 100%;
            }
        }
        
        .biru__center .col-md-12 {
            padding: 0;
        }
        
        .wrap {
            width: 100%;
        }
        
        .hello .fish {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0px 130px 0 75px;
        }
        
        .hello .fish .fish__1 {
            padding: 0;
        }
        
        .hello .fish p {
            font-size: 16px;
            color: #848484;
            padding: 1rem 0 0 0;
        }
        
        .hello .fish h1 {
            padding: 1rem 0 0 0;
        }
        
        .hello .fish h3 {
            color: red;
            padding: 1rem 0 0 0;
        }
        
        #text {
            color: rgba(132, 132, 132, 0.6);
            text-align: center;
            padding: 5rem 0 1rem 0;
        }
        /* ===========start hello===== */
        
        .about {
            position: relative;
        }
        
        .about h1 {
            color: white;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        
        .about__list {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: black;
            opacity: 0;
        }
        
        .about:hover .about__list {
            display: block;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 0.5s;
            opacity: 0.5;
        }
        
        .about:hover h1 {
            color: red;
        }
        /* ==========start new========= */
        
        .biru {
            font-size: 1rem;
            width: 100%;
        }
        
        .biru__center {
            display: flex;
            flex-wrap: wrap;
        }
        
        .hello__chil .col-md-12 {
            padding: 0;
        }
        
        .biru .col-lg-6 {
            padding: 0;
        }
        
        .img .hello__chil .col-lg-4 {
            padding: 0;
        }
        
        .new {
            Color: rgba(132, 132, 132, 0.6);
            padding: 5rem;
            text-align: center;
            font-size: 20px;
        }
        /* ============start biru======== */
        
        .biru__img {
            width: 100%;
            padding: 0 2px;
            position: relative;
        }
        
        img {
            width: 100%;
        }
        
        .back {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: black;
            opacity: 0;
        }
        
        .biru__img:hover .back {
            opacity: 0.6;
            transition: 0.5s;
        }
        
        .icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 28px;
            color: #fff;
            opacity: 0;
        }
        
        .back__icon {
            opacity: 0.5;
            top: 50%;
            left: 50%;
            padding: 3rem;
            border-radius: 50%;
            transform: translate(-50%, -50%);
            position: absolute;
            background-color: white;
            width: 100%;
            height: 100%;
        }
        
        .biru__img:hover .icon {
            opacity: 1;
            transition: 0.5s;
        }
        
        .may__center {
            padding: 2rem 3rem 6rem 1rem;
        }
        
        .may__center p {
            font-size: 1.5rem;
            color: #848484;
            padding: 10px 0;
        }
        
        .may__center i {
            font-size: 1.5rem;
            padding: 0 0 2rem 0;
            color: red;
        }
        /* ==========start prop======= */
        
        .prop__img a {
            color: black;
        }
        
        .prop__img i {
            color: red;
        }
        
        .prop__img {
            position: relative;
        }
        
        .prop__text {
            position: absolute;
            text-align: center;
            padding: 1rem 2rem;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 2rem;
            color: black;
            opacity: 0;
        }
        
        .prop__img:hover .prop__text {
            font-size: 1rem;
            opacity: 1;
            transition: 0.3s;
            background-color: white;
        }
        /* ========Start button===== */
        
        .button {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 5rem 0;
        }
        
        .button a {
            font-size: 1.5rem;
            color: black;
            padding: 10px 25px;
            background-color: rgba(180, 170, 170, 0.993);
        }
        
        .button a:hover {
            background-color: red;
        }
        /* ==========start our======== */
        
        .our {
            padding: 1rem;
        }
        
        .our #our {
            font-size: 36px;
            text-align: center;
            Color: rgba(132, 132, 132, 0.6);
        }
        
        .label {
            font-size: 1.5rem;
            padding: 10px;
            margin-bottom: -2px;
        }
        
        .our p {
            font-size: 1.5rem;
            color: black;
        }
        /* start__quality */
        
        .quality .qua__text p {
            padding: 2rem 0;
            color: #777;
            ;
        }
        
        .quality .qua__text {
            padding: 0 4rem;
            margin-left: 1rem;
        }
        /* =============start__prom========= */
        
        .prom {
            padding: 3rem;
        }
        
        .prom p {
            text-align: center;
            color: #777;
        }
        /* ==========book======= */
        
        .book h1 {
            color: white;
            padding: 5rem 0;
        }
        
        .book {
            background-color: #ed4848;
            font-weight: 600;
            padding: 5rem 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        
        .booking__select label {
            padding: 0 10px;
        }
        
        .booking__form {
            background-color: white;
            padding: 2rem 10rem;
        }
        
        .booking__option {
            margin-top: 1.6rem;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }
        
        .booking__option input {
            width: 27rem;
            height: 3.5rem;
        }
        
        .book .booking__select input {
            margin: 0;
        }
        
        textarea {
            width: 27rem;
            height: 6rem;
        }
        
        .booking__select {
            padding: 3px 0;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
        
        .book .booking__select input,
        select {
            width: 19rem;
            height: 4.5rem;
            margin: 0;
        }
        /* ==========start footer==== */
        
        .footer {
            background-color: #2c2727;
            padding: 3rem;
            font-size: 10px;
        }
        
        .footer h1,
        a {
            color: white;
        }
        
        .footer ul li {
            padding: 10px;
            font-size: 1.5rem;
        }
        
        .footer ul li a:hover {
            color: red;
        }
        
        .footer input {
            opacity: 0.1;
            height: 4rem;
            width: 26rem;
        }
        
        .footer .footer__icon {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px 0;
            font-size: 36px;
        }
        
        .footer .footer__icon a {
            padding: 1rem;
        }
        
        .footer .footer__icon a:hover {
            color: red;
        }
        
        .footer .footer__end p {
            text-align: center;
            color: #444;
        }