* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.menu {
    padding: 15px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 1000px;
    margin: 0 auto;
    width: calc(100%/4 - 10px);
}

.menu .menu1 {
    width: calc(100%/4 - 10px);
}

.menu .menu2 {
    width: calc(100%/4 - 10px);
}

.menu .menu3 {
    width: calc(100%/4 - 10px);
}

.menu .menu4 {
    width: calc(100%/4 - 10px);
}