* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.menu {
    font-size: medium;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: wheat;
}

.menu .menu1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 4px;
}

.menu11 {
    padding: 5px;
}

.menu .menu2 ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

li {
    padding: 0 10px;
}