* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.menu {
    font-size: medium;
    color: seashell;
    padding: 10px 100px;
    margin: 0px;
    background: rgb(124, 61, 14);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu .menu1 {
    color: rgb(180, 145, 27);
    font-size: 20px;
}

.menu .menu2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu .menu2 ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li {
    padding: 0px 10px;
}

li:first-child {
    color: rgb(180, 145, 27);
    ;
}